## Lists
- Python list is also a built-in data structure available in Python. It can contain heterogeneous values 
such as integers, floats, strings, tuples, lists, and dictionaries. 
However, Python lists are mutable; yes, they can change.

In [1]:
list1 = [1, 2, "ade", ["apple", "banana"], 2.5]

In [2]:
# creating a list with values
Avengers = ['hulk', 'iron-man', 'Captain', 'Thor', 5, ["Ali", "Simbi"]]

# empty list

In [ ]:
Integer, floating numbers, strings

In [ ]:
numbers = [20, 30,540, 90.9, "Bola"]

In [3]:
Avengers

['hulk', 'iron-man', 'Captain', 'Thor', 5, ['Ali', 'Simbi']]

In [3]:
Avengers

['hulk', 'iron-man', 'Captain', 'Thor', 5, ['Ali', 'Simbi']]

## Unpacking list values

In [4]:
a, b = [1, 3]

In [ ]:
a = 1
b = 3

In [14]:
a

2

In [7]:
b

3

In [16]:
a, b, c = [2, 3, 1]

In [13]:
a

2

In [15]:
c

1

In [10]:
b

3

In [17]:
c

1

# List operations
In this section, you will learn slicing, accessing, adding, deleting, and updating the values in a list.

###Accessing list values
In order to access list values, use list names with positional index in square brackets.

In [ ]:
0,1,2

In [18]:
Avengers = ['hulk', 'iron-man', 'Captain', 'Thor', 5, ["Ali", "Simbi"]]


# different examples of slicing



#list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13]


# move through the list in step of 3

In [30]:
Avengers

['hulk', 'iron-man', 'Captain', 'Thor', 5, ['Ali', 'Simbi']]

In [28]:
Avengers[5][0][0]

'A'

In [23]:
#slice to get the value Ali
Avengers[5]

['Ali', 'Simbi']

In [22]:
Avengers[5][0][0]

'A'

In [34]:
#slice to get the value A in Iron-man
Avengers[1][6]

'a'

In [36]:
#slice to get the value I in Simbi
Avengers[5][1][1]

'i'

# Updating the list
- Lists are mutable, so the values of a list can be updated.

In [42]:
Avengers = ['hulk', 'iron-man', 'Captain', 'Thor', 5, ["Ali", "Simbi"]]

# update the 3rd element to "Captain-America"
Avengers[2] = "Captain-America"

In [43]:
Avengers = ['hulk', 'iron-man', 'Captain', 'Thor', 5, ["Ali", "Simbi"]]

In [38]:
Avengers[2] = "Captain American"

In [ ]:
Avengers

In [49]:
update = Avengers
update

['hulk', 'iron-man', 'Captain', 'Thor', 5, ['Ali', 'Simbi']]

# Deleting values from a list
- By using the $del$ keyword, you can delete a value or a slice of list from the list.

In [ ]:
C_W_team = ['hulk', 'iron-man', 'Captain-America', 'Thor',"Vision"]

# delete the first element from the list

#del C_W_team[0]

In [45]:
C_W_team = ['hulk', 'iron-man', 'Captain-America', 'Thor',"Vision"]

In [46]:
C_W_team

['hulk', 'iron-man', 'Captain-America', 'Thor', 'Vision']

In [47]:
del C_W_team[0]

In [48]:
C_W_team

['iron-man', 'Captain-America', 'Thor', 'Vision']

# Addition of python list

In [52]:
Avengers1 = ["Hull", "Iron_man", "Thor"]
Avengers2 = ["Vision", "sam"]

In [54]:
sum_avengers = Avengers1  + Avengers2 
sum_avengers

['Hull', 'Iron_man', 'Thor', 'Vision', 'sam']

In [55]:
sum_avengers[2]

'Thor'

In [ ]:
Avengers1 = ["Hull", "Iron_man", "Thor"]
Avengers2 = ["Vision", "sam"]

# Appends and Extends

In [62]:
new = Avengers1.extend(Avengers2)
new

In [63]:
new

## Dictionaries
- In Python, a dictionary is a sequence of key-value, or item pairs separated by commas. 
- Consider the following example:
    - port = {22: "SSH", 23: "Telnet" , 53: "DNS", 80: "HTTP" } 
- The port variable refers to a dictionary that contains port numbers as keys and its protocol names as values. 
- Consider the following example:
    - companies = {"IBM": "International Business Machines", "L&T" :"Larsen & Toubro"} 
- The syntax of a dictionary is as follows:
    - Dictionary_name = {key: value}

In [64]:
port = {22: "SSH", 23: "Telnet" , 53: "DNS", 80: "HTTP" }

In [75]:
port = {22: 
        "SSH", 23: "Telnet" , 53: "DNS", 80: "HTTP" }

In [65]:
port

{22: 'SSH', 23: 'Telnet', 53: 'DNS', 80: 'HTTP'}

In [66]:
del port[80]

In [67]:
port

{22: 'SSH', 23: 'Telnet', 53: 'DNS'}

# Comparison Operators

In [68]:
1>2

False

In [69]:
2<1

False

In [70]:
1<9

True

# Logical Operator

In [ ]:
AND OR

In [71]:
(1>2) and (2<3)

False

In [72]:
(1>2) and (2>3)

False

In [74]:
(1==2) or (2==3) or (4==4)

True

# if, elif, else statement

if -  for one condition 
elif --- in between condtion
else - Last Conditional statement

1 - if
2 - elif
3- elif
4- elif 
5 - else

Indentation block :

In [76]:
#print a statement to know if 1 is greater than 2

if 1 < 2:
    print("Yep!!!")

Yep!!!

In [83]:
#print a statement to know if 100 is equal to 50 
if 100==50:
    print("yes")
else: 
    print("No!!!")

No!!!

In [86]:
#print a statement to know if  80 is greater than 40, if it is greater print Good, if not print Bad
if 80 > 40:
    print("Good!")
else:
    print("Bad!")

Good!

In [88]:
# write a python statement to print the output if 2 is greater or equal 3 if it is return Valid, if not retun not valid
if 2 >= 3:
    print("Vaild")
else:
    print("Not vaild")

Not vaild

In [89]:
if 3>=9:
    print("first")
elif 4==4:
    print("middle")
else:
    print("Last")

middle

# For Loops

Loop is a control flow statement used to iterate over a sequence (such as list, tuple, stings etc)
Break dwon of loop 
Variable: The placeholder
Sequence: The iterable object you want to loop over 
code block: The indented code

Loop works with a list bracket

In [96]:
fruits = ["Apple", "Mango", "cherry","orange"]
for item in fruits:
    print(item)

Apple
Mango
cherry
orange

In [101]:
fruits = ["Apple", "Mango", "cherry","orange"]
for x in fruits:
    print(x)

Apple
Mango
cherry
orange

In [102]:
towns = ["Newport", "Cardiif", "Bangor", "Derry", "Lisburn", "Bristol", "Sheffield", "London"]
for cities in towns:
    print(cities)

Newport
Cardiif
Bangor
Derry
Lisburn
Bristol
Sheffield
London

In [103]:
towns = ["Newport", "Cardiif", "Bangor", "Derry", "Lisburn", "Bristol", "Sheffield", "London"]
towns

['Newport',
 'Cardiif',
 'Bangor',
 'Derry',
 'Lisburn',
 'Bristol',
 'Sheffield',
 'London']